
  <div class="container" id="home-container">
    <div class ="jumbotron-fluid" id="im">
         <%= image_tag("blogging.svg") %>
      </div>
   <div class="jumbotron-fluid content" >
        <h3>join us  <br><span>be a blogger</span>  </h3>
        <hr class="my-4">
        <p>Feel free to share your own articles here with me</p>
        <p>
        <%= link_to 'Sign up NOW!', signup_path, class:"btn sign-btn btn-sm"  %>
        </p>
</div>
    </div>








