
  <div class="container" id="home-container">
   <div class="jumbotron text-center" >
  <h3 class="display-4">Welcome to my blog</h3>
  <hr class="my-4">
  <p>Feel free to share your own articles here with me</p>
  <p class="lead">
  <%= link_to 'Sign up NOW!', signup_path, class:"btn btn-primary btn-lg"  %>
  </p>
</div>
    </div>








