

@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Delius');


.navbar{
  background-color:#7d9eff;
}

.btn, .badge{
  background-color: #7d9eff;
  color: white;
}

#navcont{
  background-color:#FFEAD0;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px  10%;
}

.nav-link{
    color: black !important;
}



#logo{
  cursor: pointer;
  font-weight: bold;

    float: left;
    color:  black ;
    text-transform: uppercase;

}

.nav-item {
  display: inline-block;
  padding: 0px 20px;

}
.nav-link li a {
  transition: all 0,3s ease 0s;
}
.nav-link:hover {
  color: white !important;
}

html,
body {
background-color: #ffff;
font-family: 'Poppins', sans-serif;



}



// /* Other Classes for Page Styling */


#home-container {
  margin-top: 40px;
}

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #c5c5c5; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color:#c5c5c5;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color:#c5c5c5; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }



.my-4{
  margin-top:0px !important;
}
#home-container{
display: flex;
justify-content: space-around;
margin-top: 100px;

}
.jumbotron-fluid{




}

#im img{
  height: 350px;
  width: 400px;
}
.jumbotron-fluid  h3{
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
}
.jumbotron-fluid span {
  color: #7d9eff;
  font-size: 50px;

}
.jumbotron-fluid  p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}


.sign-btn{
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;

}

.sign-btn:hover{
  background: #7d9eff;
}

@media only screen and (max-width: 800px) {

 #home-container{
   flex-direction: column;

 }
 #im img{
   margin-left: 40px;
   padding-bottom: 70px;
 }

}









